.page-footer {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer__container {
  display: flex;
  align-items: baseline;
}
.page-footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}
.logo--footer-title {
  color: var(--foot-logo-color);
}
.address {
  width: 231px;
  margin-right: 70px;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__link {
  font-style: normal;
  line-height: 1.71;
}
.address__link--primary {
color: var(--primary-text-color-theme-light);
}

.address__link--secondary {
  color: var(--secondary-text-color-theme-light);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.footer-social__text {
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-light);
  margin-bottom: 20px;
}
.footer-social-list {
  display: flex;
  column-gap: 10px;
}
.footer-social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-social-list__icon {
  fill: var(--primary-footer-icon-color);
}

.footer-form-box {
  margin-left: auto;
}

.footer-form-box__text {
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-light);
  margin-bottom: 20px;
}
.footer-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.footer-form__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 6px;
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: var(--primary-text-color-theme-light);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }

  &::placeholder {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.footer-form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 28px;
  border: 0;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-theme-light);

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.footer-form__icon {
  margin-left: 10px;
}
