.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.button-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.button-list__buttons {
  background-color: var(--normal-portfolio-button-background-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: inherit;
  color: var(--primary-text-color-theme-dark);
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--active-portfolio-button-background-color);
    color: var(--primary-text-color-theme-light);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-list__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-list__aside {
  position: relative;
  overflow: hidden;
}

.portfolio-list__text-aside {
  font-style: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .portfolio-list__link:hover &,
  .portfolio-list__link:focus & {
    transform: translateY(0);
  }
}

.portfolio-list__box {
  padding: 20px 24px;
  flex-basis: calc((100% - 60px) / 3);
  border: 1px solid #eeeeee;
  border-top: none;
}
.portfolio-list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-theme-dark);
  margin-bottom: 4px;
}
.portfolio-list__text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color-theme-dark);
}
