.rezume {
  padding-top: 94px;
  padding-bottom: 94px;
}
.rezume__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.rezume__item {
  flex-basis: calc((100% - 60px) / 3);
}
.rezume__box {
  position: relative;
}
.rezume__text {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-light);
  background-color: rgba(47, 48, 58, 0.8);
  overflow: auto;

  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0;
  left: 0;
}