h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  background: var(--primary-background-color);
  font-family: var(--primary-font);
  color: var(--primary-text-color-theme-dark);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  font-family: inherit;
  cursor: pointer;
}