:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text-color-theme-dark: #212121;
  --secondary-text-color-theme-dark: #757575;
  --primary-text-color-theme-light: #ffffff;
  --secondary-text-color-theme-light: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --body-background-color: #f5f5f5;
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --team-background-color: #f5f4fa;
  --primary-logo-color: #2196f3;
  --secondary-logo-color: #000000;
  --foot-logo-color: #ffffff;
  --normal-hero-button-background-color: #2196f3;
  --active-hero-button-background-color: #188ce8;
  --normal-portfolio-button-background-color: #f5f4fa;
  --active-portfolio-button-background-color: #2196f3;
  --hero-background-color: #c4c4c4;
  --feature-icon-background-color: #f5f4fa;
  --primary-team-icon-color: #afb1b8;
  --secondary-team-icon-color: #ffffff;
  --primary-customers-icon-color: #afb1b8;
  --primary-footer-icon-color: #ffffff;
  --backdrop-background-color: rgba(0, 0, 0, 0.2);
  --modal-background-color: #ffffff;
}